<?xml version='1.0' encoding='UTF-8'?>
<settings>
    <plugins>
        <plugin>
            <name>plugin1</name>
            <directory>../plugin/output/gis_hellod.dll</directory>
            <enabled>true</enabled>
        </plugin>
        <plugin>
            <name>plugin2</name>
            <directory>../examples/PluginHello/output/gis36_hellod.dll</directory>
            <enabled>true</enabled>
        </plugin>
        <plugin>
            <name>Search by reginon</name>
            <directory>../Search_By_Region/output/search_by_regiond.dll</directory>
            <enabled>true</enabled>
        </plugin>
    </plugins>
</settings>
